body{
        padding: 0;
        margin: 0;
       }
       form{
        max-width: 20em;
        margin: 1em auto;
       }
       p{
        margin: 1em auto;
       }
       div {
        border-radius: 8px;
        background-color: #f2f2f2;
        padding: 20px;
        margin-top: 3%;
      }