<div style="width:400px;float:left;margin-left:10%">
        <p class="text-center"> <strong>REGISTRATION FORM</strong> </p>
        <form #myForm="ngForm" (ngSubmit)="registerUser(myForm.value)" class="form-group">

                First Name:
                <input type="text" class="form-control" name="firstName" placeholder="Enter your first name"
                        ngModel><br /><br />

                Last Name:
                <input type="text" class="form-control" name="lastName" placeholder="Enter your last name"
                        ngModel><br /><br />

                Email ID:
                <input type="email" class="form-control" name="emailId" placeholder="Enter the email address"
                        ngModel /><br /><br />

                Password:
                <input type="password" class="form-control" name="password" placeholder="Enter the password"
                        ngModel><br /><br />

                DOB: <input type="date" class="form-control" name="DOB" ngModel><br /><br />

                Gender:
                <input type="radio" name="gender" value="male" ngModel> Male
                <input type="radio" name="gender" value="female" ngModel> Female
                <input type="radio" name="gender" value="other" ngModel> Other<br /><br />

                <input type="submit" value="Submit" class="form-control btn btn-primary btn-sm">
        </form>
</div>

<a routerLink="/login">
        <h6>Not a registered user?</h6>
</a>