<div style="width:400px;float:right; margin-right:10%">
        <p class="text-center"> <strong>LOGIN FORM</strong> </p>
        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)" class="form-group">
                Email Id:
                <input type="email" class="form-control" name="userName" placeholder="Enter the email address"
                        ngModel /><br /><br />

                Password:
                <input type="text" class="form-control" name="password" placeholder="Enter the password"
                        ngModel><br /><br />
                <input type="submit" value="Submit" class="form-control btn btn-primary btn-sm">
        </form>
</div>